
.main-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0
}
.main-wrapper:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  left: 80px;
  bottom: 0;
  background: url(../images/Scroll.png) no-repeat;
}

.main-texts {
  width: 50%;
  padding-left: 95px;
}

.main__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 25px;
}

.main__subtitle {
  max-width: 550px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
  border-left: 4px solid #D1232A;
  padding-left: 55px;
  margin-bottom: 110px;
}
.main__phone {
  margin-bottom: 15px;
}
.main__dep {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #303030;
  margin-bottom: 25px;
}
.main-images {
  width: 900px;
  display: flex;
  align-items: flex-start;
}
.main__box {
  display: block;
  width: 100px;
  height: 800px;
  background: #f0f0f0;
}


.vacancies-wrap {
  margin-top: 120px;
}

.vacancies-cart {
  display: flex;
  align-items: center;
  padding: 35px 20px;
}
.vacancies-cart:not(:last-child) {
  border-bottom: 1px solid #C9C7C7;
}
.vacancies-block {
  width: 50%;
}

.vacancies__date {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #A8A8A8;
}

.vacancies__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #303030;
  margin-top: 20px;
  margin-bottom: 17px;
}
.vacancies-moreblock {
  display: flex;
  align-items: center;
}
.vacancies__btn {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #D1232A;
  border-radius: 50%;
  margin-left: 15px;
}
.vacancies__link {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
}

.vacancies__btn:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 1px;
  top: 9px;
  left: 0;
  background: #D1232A;
}
.vacancies__btn:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  top: 7px;
  left: 6px;
  border-right: 1px solid #D1232A;
  border-bottom: 1px solid #D1232A;
  transform: rotate(-45deg);
}
.vacancies__link:hover>.vacancies__btn:before {
  width: 20px;
  left: -8px;
  transition: 0.2s;
}

.vacancies__graf {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #303030;
}

.vacancies__price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #303030;
}
.vacancies__graf {
  display: inline-block;
  width: 500px;
}

/*            reguest-wrap      */



.reguest-wrap {
  background: radial-gradient(52.5% 104.08% at 5.66% 6.25%, #FAFBFC 0%, #EDF3F5 100%);
  padding: 100px 160px 120px;
}

.reguest__text {
  max-width: 535px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 100%;
  text-align: right;
  color: #FFFFFF;
  margin-left: auto;
}


.reguest__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #303030;
  margin-bottom: 70px;
}
.reguest-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reguest__fio {
  width: 49%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  border-bottom: 1px solid #454545;
  padding-bottom: 10px;
  margin-right: 60px;
}
.reguest__email,
.reguest__phone {
  width: 49%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  border-bottom: 1px solid #454545;
  padding-bottom: 10px;
}
.reguest__email {
  width: 48%;
  margin-top: 45px;
}
.reguest__file {
  position: relative;
  width: 48%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  border-bottom: 1px solid #454545;
  padding-bottom: 10px;
  margin-top: 46px;
}
.reguest__file:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 23px;
  right: 0;
  top: 0;
  background: url(../images/Clip.png);
}

/* inputfile */

.reguest-addfile {
  margin-top: 45px;
}
.reguest-addfile input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}

.reguest-addfile .label {
  width: 48%;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #454545;
  padding-bottom: 10px;
}

.reguest-addfile .label i {
  display: block;
  width: 20px;
  height: 23px;
  background: url(../images/Clip.png) no-repeat;
}



.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
}

/*  */


.reguest__textera {
  width: 100%;
  height: 200px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
  border: 1px solid #454545;
  resize: none;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 50px;
}

/*  */

.reguest__checkbox {
  width: 30px;
  height: 30px;
}

.reguest-checkbox.checks {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.reguest-checkbox.checks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.reguest-checkbox.checks input:checked~.reguest-checkbox__checkmark {
  background-color: #D1232A;
}

.reguest-checkbox.checks input:checked~.reguest-checkbox__checkmark:after {
  opacity: 1;
}

.reguest-checkbox.checks:hover input~.reguest-checkbox__checkmark {
  border: 2px solid #D1232A
}

.reguest-checkbox.checks:hover input:checked~.reguest-checkbox__checkmark {
  background-color: #D1232A;
}

.reguest-checkbox.checks .reguest-checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid #C9C7C7;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}

.reguest-checkbox.checks .reguest-checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 2px;
  width: 10px;
  height: 17px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* .checkblock */

.reguest-checkblock {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 110px;
}
.reguest-checkbox__body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #404040;
  margin-left: 10px;
  margin-top: 7px;
}

.reguest__text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
}

.reguest__button {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
}

.reguest__btn {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: #d1232a;
  border-radius: 50%;
  margin-left: 20px;
}
.reguest__btn:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  left: 0;
  top: 28px;
  background: #fff;
}
.reguest__btn:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: 23px;
  top: 25px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

.reguest__button:hover>.reguest__btn {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  transition: 0.2s;
}
.reguest__button:hover>.reguest__btn:before {
  width: 45px;
  top: 34px;
  transition: 0.2s;
}
.reguest__button:hover>.reguest__btn:after {
  top: 31px;
  left: 38px;
  transition: 0.2s;
}

/* job2 */

.singljob-wrapper {
  position: relative;
  padding: 115px 160px 100px; 
}
.singljob-titlewrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.singljob__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #303030;
}
.singljob__title2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #303030;
  margin-top: 135px;
  margin-bottom: 30px;
}
.singljob__price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  text-align: right;
  color: #303030;
}
.singljob-desc {
  display: flex;
  margin-bottom: 20px;

}

.singljob__text1 {
  width: 30%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
}

.singljob__text2 {
  width: 40%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
}
.singljob__badge {
  position: absolute;
  right: 0;
  top: 150px;
}