
.video__frame {
  width: 100%;
  height: 800px;
}
.video__img {
  width: 100%;
}
.video-active {
  position: relative;
  left: 0;
}
.video {
  position: relative;
}
.video__img {
  width: 100%;
  height: 800px;
  background: url(../images/Foto-bg.png) no-repeat 32%;
}

.button {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 160px;
  background: url(../images/play.svg) no-repeat;
}

.button:hover {
  background: url(../images/play-hover.svg) no-repeat;
}

.prodact-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "img text1" "img text2";
  padding-bottom: 165px;
  padding-left: 160px;
  padding-right: 100px;
  margin-top: 110px;
}
.prodact_decor {
  position: relative;
}
.prodact_decor:after {
  position: absolute;
  content: '';
  width: 443px;
  height: 753px;
  left: 0;
  bottom: -95px;
  background: url(../images/decor.svg) no-repeat;
  z-index: -1;
}
.prodact-images {
  grid-area: img;
  position: relative;
  width: 646px;
  display: flex;
  align-items: flex-end;
  margin-top: 200px;
  z-index: 1;
}
.prodact-texts {
  width: 60%;
}
.prodact__img {
  width: 355px;
  height: 355px;
  border-radius: 50%;
}
.prodact__text1 {
  max-width: 420px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 86px;
  line-height: 90%;
  letter-spacing: -0.05em;
  color: #D1DEE3;
  margin-left: -125px;
  margin-bottom: 10px;
}

.prodact__txt1 {
  grid-area: text1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  color: #303030;
  margin-bottom: 130px;
}

.prodact__txt2 {
  grid-area: text2;
  max-width: 655px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #404040;
  border-left: 4px solid #D1232A;
  padding-left: 60px;

}

@media screen and (max-width: 1555px) {
  .prodact-wrap {
    padding-left: 100px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1420px) {
  .prodact__text1 {
    margin-left: -250px;
  }
}
@media screen and (max-width: 1200px) {
  .prodact-wrap {
    grid-template-columns: 100%;
    grid-template-areas: "text1" "img" "text2";
  }
  .prodact-images {
    width: 100%;
    margin-top: 0;
    margin-bottom: 130px;
  }
  .prodact__txt1 {
    margin-bottom: 70px;
  }
  .prodact_decor:after {
    bottom: 165px;
  }
}
@media screen and (max-width: 1024px) {
  .video__frame {
    width: 100%;
    height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .button {
    left: 15px;
  }
  .prodact__txt1 {
    font-size: 28px;
  }
  .prodact-wrap {
    padding-left: 15px;
  }
  .prodact_decor:after {
    left: -125px;
  }
  .prodact-wrap {
    margin-top: 60px;
  }
}
@media screen and (max-width: 576px) {

  .prodact__img {
    width: 165px;
    height: 165px;
  }
  .prodact_decor:after {
    left: 0;
    top: 195px;
    bottom: 0px;
    width: 130px;
    height: 255px;
    background: url(../images/decor-m.svg) no-repeat;
  }
  .prodact__text1 {
    max-width: 200px;
    margin-left: -50px;
    font-size: 45px;
  }
  .prodact__txt1 {
    font-size: 24px;
  }
  .prodact__txt2 {
    font-size: 15px;
    padding-left: 20px;
  }
  .prodact-wrap {
    padding-bottom: 80px;
  }
  .prodact-images {
    margin-bottom: 50px;
  }
  .video__img {
    height: 550px;
    background: url(../images/BG_img-m.png) no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 330px) {
  .prodact__text1 {
    margin-left: -90px;
  }
}