
.map {
  width: 100%;
  height: 800px;
}

.main-wrapper {
  margin-bottom: 100px;
}
.main-bg {
  background: url(../images/2BG_img.png) no-repeat center;
  background-size: cover;
  padding: 380px 100px 70px 100px;
}
.main-title {
  max-width: 650px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 60px;
  margin-bottom: 95px;
}
.main-shopmenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #872D36;
  padding: 40px 50px 50px 50px
}
.main-nav {
  position: relative;
  width: 430px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  border-bottom: 2px solid #9F575E;
  padding-bottom: 8px;
}
.main-nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.main-nav__link {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
}

.main-nav__link:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  right: 6px;
  top: 2px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
.main-nav-menu {
  display: none;
  position: absolute;
  width: 430px;
  top: 30px;
  left: 0;
  background: #6D4247;
  padding: 14px 10px;
}
.show {
  display: block;
}

.main-nav-menu__link {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.main-nav-menu__link:hover {
  text-decoration: underline;
}
.main__button1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  margin-left: auto;
  padding: 10px 25px;
  border: 1.5px solid #872D36
}
.main__button1:hover {
  border: 1.5px solid #9F575E;
}
.main__button1:focus {
  border: 1.5px solid #9F575E;
}
.main__button2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  padding: 10px 25px;
  border: 1.5px solid #872D36
}
.main__button2:hover {
  border: 1.5px solid #9F575E;
}
.main__button2:focus {
  border: 1.5px solid #9F575E;
}

.main__line {
  display: block;
  width: 80px;
  height: 2px;
  background: #9f575e;
  margin-left: 50px;
  margin-right: 50px;
}

.adress-wrap {
  padding: 0 100px;
  margin-bottom: 150px;
}
.adress-cart {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #C9C7C7;
  padding: 40px 60px;
}
.adress-cart:last-child {
  border-bottom: 1px solid #C9C7C7;
}

.adress-blcok1 {
  width: 40%;
}
.adress-blcok2 {
  width: 60%;
  display: flex;
  align-items: flex-start;
}
.adress-tab {
  min-width: 230px;
  width: 400px;
}
.adress-sity {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #303030;
}
.adress-str {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
}

@media screen and (max-width: 1200px) {
  .main-shopmenu {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  }
  .adress-cart {
    flex-direction: column;
  }
  .adress-blcok1 {
    margin-bottom: 30px;
  }
  .main-nav {
    width: 92%;

  }
  .main-nav1 {
    width: 100%;
    margin-top: 50px;
  }
  .main__button1 {
    margin-left: 0;
  }
  .main__line {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .main-title {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-bg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .adress-wrap {
    padding: 0;
  }
  .adress-cart {
    padding: 30px
  }
  .adress-blcok1,
  .adress-blcok2 {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .adress-blcok2 {
    flex-direction: column;
  }
  .main-shopmenu {
    padding-left: 20px;
    padding-right: 20px;
  }
  .adress-tab {
    width: 100%;
  }
  .main-nav-menu {
    width: 100%;
  }
  .adress-wrap {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 470px) {
  .main-title {
    font-size: 38px;
  }
  .main__line {
    width: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 375px) {
  .main-bg {
    background: url(../images/2BG_img-m.png) no-repeat center;
    padding: 230px 15px 60px 15px;
  }
  .main-title {
    font-size: 24px;
    margin-bottom: 60px;
  }
  .main-shopmenu {
    padding: 20px;
  }
  .main-nav1 {
    margin-top: 0;
  }
  .main__button1,
  .main__button2 {
    padding: 10px;
  }
}