
.works-wrap {
  position: relative;
  background: #872D36;
  padding: 120px 0px 115px 155px;
  margin-left: 100px;
}

.works-txt1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 79.2407px;
  line-height: 120%;
  color: #9F575E;
  margin-bottom: 30px;
}
.works__box {
  display: block;
  min-width: 60px;
  height: 615px;
  background: #9F575E;
}
.works-images {
  width: 577px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  right: 100px;
  bottom: -85px;

}
.works-txt2 {
  max-width: 832px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 64px;
}

.works-txt3 {
  max-width: 716px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  border-left: 4px solid #9F575E;
  padding-left: 60px;
  margin-bottom: 46px;
}

.works-txt4 {
  max-width: 550px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  border-left: 4px solid #9F575E;
  color: #FFFFFF;
  padding-left: 60px;
}

.works-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 200px 100px 0 160px;
}
.works__img2 {
  width: 355px;
  height: 355px;
  border-radius: 50%;
}
.works-txtprom {
  width: 57%;
}
.works__txt5 {
  max-width: 895px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #404040;
  border-left: 4px solid #D1232A;
  padding-left: 60px;
}

@media screen and (max-width: 1777px) {
  .works_txt-size {
    width: 40%;
  }
}

@media screen and (max-width: 1440px) {
  .works-wrap {
    padding-left: 80px;
  }
  
}
@media screen and (max-width: 1320px) {
  .works-wrap {
    padding-left: 30px;
  }
  .works-images {
    right: 50px;
  }
}
@media screen and (max-width: 1200px) {

  .works-wrap {
    padding-top: 50px;
    padding-bottom: 690px;
  }
  .works_txt-size {
    width: 100%;
  }
  .works-product {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1140px) {
  .works-product {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1024px) {

  .works-txtprom {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .works-txt1 {
    font-size: 55px;
  }
  .works-txt2,
  .works-txt3,
  .works-txt4 {
    font-size: 18px;
    padding-left: 20px;
  }
  .works-txt2 {
    padding-left: 0;
  }
  .works-wrap {
    margin-left: 0;
  }
  .works-images {
    right: 0;
  }
  .works-product {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .works__img2 {
    width: 165px;
    height: 165px;
  }
  .works-images {
    width: 320px;
    right: 26px;
    bottom: -69px;
  }
  .works__box {
    min-width: 25px;
    height: 364px;
  }
  .works-wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 470px;
  }
  .works-product {
    padding-top: 160px;
  }
  .works__txt5 {
    font-size: 15px;
    padding-left: 20px;
  }
  .works-txt1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 330px) {
  .works-txt1 {
    font-size: 38px;
  }
  .works-images {
    width: 275px;
    right: 25px;
  }
  .works__box {
    height: 303px;
  }
  .works-wrap {
    padding-bottom: 400px;
  }
}

