

.back__top {
  position: fixed;
  right: 100px;
  bottom: 100px;
  display: block;
  width: 80px;
  height: 80px;
  background: #EDF3F5;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: 60px;
}
.back__top:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: 36px;
  top: 31px;
  border-top: 2px solid #404040;
  border-right: 2px solid #404040;
  transform: rotate(-45deg);
}
.back__top:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 22px;
  left: 39px;
  top: 32px;
  background: #404040;
}
.back-to-top_hide {
  display: none;
}